* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================== HAMBURGER MENU MOBILE =========================== */
.header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}
.header li {
  display: block;
  padding: 8px 0px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  padding-left: 40px;
}
.header li a {
  color: #21234d;
  font-size: 20px;
  font-weight: 700;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
.logo img {
  width: 100px;
}
/*  Menu  */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow-y: auto;
}
.header .menu details {
  margin-left: 20px;
  padding: 8px 0px;
}
.header .menu details summary a {
  font-size: 20px;
  font-weight: 700;
  color: #21234d;
  padding-left: 0;
}
.header .menu details .submenu li a {
  font-size: 18px;
  font-weight: unset;
  color: #7d408c;
  padding: 3px 20px;
  margin-left: -40px;
}
.login {
  margin-left: -20px;
}
.login:before {
  content: '\f023';
  margin-right: 11px;
  font-family: FontAwesome;
  font-size: 16px;
}
.menu_demo {
  margin: 10px 0;
  margin-left: -20px;
}
.demo {
  border: 2px solid rgba(33, 35, 77, 0.4);
  border-width: 1px 1px 2px 1px;
  border-radius: 30px;
  line-height: 1em;
  padding: 10px 20px 9px;
}

/* Menu Icon */
.header .menu_icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu_icon .navicon {
  background: #7d408c;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.header .menu_icon .navicon:before,
.header .menu_icon .navicon:after {
  background: #7d408c;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header .menu_icon .navicon:before {
  top: 5px;
  left: 5px;
}

.header .menu_icon .navicon:after {
  top: -5px;
  right: 5px;
}
/* Menu Button */
.header .menu_btn {
  display: none;
}
.header .menu_btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu_btn:checked ~ .menu_icon .navicon {
  background: transparent;
}
.header .menu_btn:checked ~ .menu_icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu_btn:checked ~ .menu_icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:before,
.header .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:after {
  top: 0;
  left: 0;
  right: 0;
}
