* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "FontAwesome";
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
/* .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* ==================== HAMBURGER MENU MOBILE =========================== */
.header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top:0;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}
.header li {
  display: block;
  padding: 8px 0px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  padding-left: 40px;
}
.header li a {
  color: #21234d;
  font-size: 20px;
  font-weight: 700;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
.logo img {
  width: 100px;
}
/*  Menu  */
.header .menu {
  clear: both;
  max-height: 0;
  transition: min-height 0.2s ease-out;
  overflow-y: auto;
}
.header .menu details {
  margin-left: 20px;
  padding: 8px 0px;
}
.header .menu details summary a {
  font-size: 20px;
  font-weight: 700;
  color: #21234d;
  padding-left: 0;
}
.header .menu details .submenu li a {
  font-size: 18px;
  font-weight: unset;
  color: #7d408c;
  padding: 3px 20px;
  margin-left: -40px;
}
.login {
  margin-left: -20px;
}
.login:before {
  content: '\f023';
  margin-right: 11px;
  font-family: FontAwesome;
  font-size: 16px;
}
.menu_demo {
  margin: 10px 0;
  margin-left: -20px;
}
.demo {
  border: 2px solid rgba(33, 35, 77, 0.4);
  border-width: 1px 1px 2px 1px;
  border-radius: 30px;
  line-height: 1em;
  padding: 10px 20px 9px;
}

/* Menu Icon */
.header .menu_icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu_icon .navicon {
  background: #7d408c;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.header .menu_icon .navicon:before,
.header .menu_icon .navicon:after {
  background: #7d408c;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header .menu_icon .navicon:before {
  top: 5px;
  left: 5px;
}

.header .menu_icon .navicon:after {
  top: -5px;
  right: 5px;
}
/* Menu Button */
.header .menu_btn {
  display: none;
}
.header .menu_btn:checked ~ .menu {
  min-height: 100vh;
}
.header .menu_btn:checked ~ .menu_icon .navicon {
  background: transparent;
}
.header .menu_btn:checked ~ .menu_icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu_btn:checked ~ .menu_icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:before,
.header .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:after {
  top: 0;
  left: 0;
  right: 0;
}
/* ============= HOME BANNER =============== */
.row_number1 {
  /* padding-top: 50px; */
}
/* Banner */
.home_banner {
  background-image: linear-gradient(to right bottom, #8b3fa5ce, #8b4175e7),
    url(../asset/home-banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 30vh;
}
.banner_container {
  text-align: center;
  padding: 50px 30px;
}
.banner_container h1 {
  font-size: calc(3vw + 10px);
  color: white;
  line-height: 1.2;
  letter-spacing: 1.3px;
}
.banner_container h1 span {
  color: #ffe44c;
  display: block;
  font-weight: bold;
}
.banner_container h5 {
  max-width: 564px;
  margin: 20px auto 74px;
  font-size: calc(1.5vw + 10px);
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}
.banner_container .white-btn {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 31px;
  font-size: 18px;
  padding: 18px 35px 18px;
  background: #fff;
  color: #252852;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.banner_container .white-btn:hover {
  background: transparent;
  color: white;
}
.home_scroll {
  display: block;
  margin-top: 100px;
}
.home_scroll i {
  color: #ffe34b;
  font-size: 36px;
  cursor: pointer;
}
/* ============ SECTION ROW NUMBER 2 ============ */
.partners_logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 20px 0;
  max-width: 90%;
}
.partners_logo .fab {
  font-size: 100px;
  color: initial;
}
/* ========== SECTION ROW NUMBER 3 ============ */
.row_number3 {
  background: #f7f7f7;
}
.articles_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0 20px;
}
.articles_container img {
  height: 25px;
  margin: 20px 40px;
}


@media only screen and (max-width: 900px) {
  .home_banner{
    padding-top: 20vh;
  }

}

