.footer-container {
  background-color: #f4f4f4;
  margin-top: 100px;
  width: 100%;
  height: auto;
}

.footer-subcontainer {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 60px);
  max-width: 1180px;
}

.footer-content1 {
  /* padding-bottom: 40px; */
  display: flex;
  flex-wrap: nowrap;
  margin: -2%;
  justify-content: space-around;
}

.footer-image {
  /* max-width: 250px;
  margin-bottom: 20px;
  margin-top: 0px; */
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-content1 img {
  border: 0 none;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  margin-top: 60px;
}

.social-icon {
  width: 62.666666%;
  margin-top: 60px;
}

.social-icon li {
  /* text-decoration: none; */
  display: inline-block;
  margin-left: 15px;
}

.social-icon li .fab {
  position: relative;
  top: 2px;
}

.circle {
  border-radius: 50%;
  margin: 0.15em;
  font-size: 3em;
}

.fa-facebook-f {
  background: #21234d;
  color: white;
  /* padding: 0.09em 0.4em; */
  padding: 0.18em 0.4em;
}

.fa-twitter {
  background: #21234d;
  color: white;
  padding: 0.18em 0.2em;
}

.fa-linkedin-in {
  background: #21234d;
  color: white;
  padding: 0.2em 0.3em;
}

.fa-github {
  background: #21234d;
  color: white;
  padding: 0.2em 0.3em;
}

.fa-pinterest-p {
  background: #21234d;
  color: white;
  padding: 0.2em 0.3em;
}

.fa-youtube {
  background: #21234d;
  color: white;
  padding: 0.2em 0.1em;
}

.fa-vimeo-v {
  background: #21234d;
  color: white;
  padding: 0.2em 0.3em;
}
